
@{
    ViewData["Title"] = "Polityka Prywatności";
}
<style>
    body {
        
        background-image: url('/Images/Rules_Background.jpg');
        background-size: cover;
        background-position: center 30px;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<div style="margin-top: 10px; font-size: 48px; font-weight: bold; text-align: center;font-family: Comic Sans MS">
    <h1>Polityka Prywatności</h1>

</div>
<div style="margin-top: 10px; font-size: 24px; font-weight: bold; text-align: center;font-family: Comic Sans MS">
    <p>Polityka Prywatności:</p>
    <br>
    <p>FinanseTracker jest aplikacją stworzoną w celach edukacyjnych i nie przechowuje żadnych danych osobowych użytkowników. :></p>
</div>